<h1>Task timers :)</h1>

<form name="newCLockForm" ng-submit="homeCtrl.addNewStopWatch(homeCtrl.newTask)">
  <input type="text" ng-model="homeCtrl.newTask.label">
  <button type="submit">New stopwatch</button>
</form>
<ul>
  <li ng-repeat="task in homeCtrl.taskCollection">
    <h4>{{ task.label }}</h4>
    <p>Time tracked: {{ task.timer.trackedTime.toString() }}</p>
    <div class="btn-group">
      <button class="btn btn-default" ng-if="task.timer.state == 'ticking'" ng-click="task.timer.pause()">Pause</button>
      <button class="btn btn-default" ng-if="task.timer.state == 'paused'" ng-click="task.timer.unpause()">Unpause</button>
      <button class="btn btn-primary" ng-if="task.timer.state == 'stopped'" ng-click="task.timer.start()">Start</button>
      <button class="btn btn-danger" ng-click="homeCtrl.removeTask(task)">Remove</button>
    </div>
  </li>
</ul>